textarea{position:relative;overflow:hidden;border:1px solid rgba(0,0,0,0.05);height:300px;width:100%;margin:0 0 10px;box-sizing:border-box;font-family:Consolas,Monaco,'Andale Mono',monospace;color:#111;border-radius:8px;padding:20px;transition:all .6s;}
textarea:active,textarea:focus{border-color:rgba(0,0,0,0.15);outline:0;}
.btn,.btn:active{background-image:none;}
.btn{font-weight:400;padding:6px 12px;margin-bottom:5px;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;-ms-touch-action:manipulation;touch-action:manipulation;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:0;border-radius:4px;cursor:pointer;transition:all .3s;}
.btn:active:focus,.btn:focus{outline:0;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;outline:0;}
.btn:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-primary{color:#fff;background:#3e51b5;}
.btn-primary:focus,.button-group button:disabled{color:#fff;background:#286090;}
.btn-primary:active,.btn-primary:hover{color:#fff;opacity:.9;}
.btn-danger{color:#fff;background:#f39c12;}
.btn-danger:focus{color:#fff;opacity:.9;}
.btn-danger:active,.btn-danger:hover{color:#fff;opacity:.9;}
.btn-info{color:#fff;background:#5bc0de;}
.btn-info:focus{color:#fff;background:#31b0d5;}
.btn-info:active,.btn-info:hover{color:#fff;background:#31b0d5;}
.btn-xs{font-size:12px;line-height:1.5;border-radius:3px;padding:1px 5px;}
textarea{overflow-y:hidden;overflow-x:hidden;border:1px solid rgba(0,0,0,0.05);height:300px;width:100%;margin:0 0 10px;box-sizing:border-box;font-family:Consolas,Monaco,'Andale Mono',monospace;color:#111;border-radius:8px;padding:20px;transition:all .6s;}
textarea:hover{overflow-y:auto;overflow-x:auto;}
textarea:active,textarea:focus{border-color:rgba(0,0,0,0.15);outline:0;}
.btn-sm{display:inline-block;font-size:13px;line-height:1.5;border-radius:5px;padding:12px;margin:0 auto 10px auto;width:30%;box-shadow:0 3px 1.2rem -0.8rem rgba(0,0,0,0.8);}
.btn-xs{font-size:13px;line-height:1.5;border-radius:5px;padding:12px;margin:auto;width:30%;box-shadow:0 3px 1.2rem -0.8rem rgba(0,0,0,0.8);}
.is-dark textarea,.is-dark textarea:focus,.is-dark input:focus{background:#33475c;color:#fff;}
.is-dark textarea::placeholder{color:#fff;}
.is-dark button,.is-dark button[disabled]:active{background:#33475c;color:#fff;}
.is-dark button:hover,.is-dark button:active{background:#415a74;color:#fff;}
.option-input{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;position:relative;right:0;bottom:0;left:0;height:16px;width:16px;transition:all 0.15s ease-out 0s;background:#f2f9ff;border:1px solid #2e87e7;color:#2e87e7;cursor:pointer;display:inline-block;margin-right:0.5rem;outline:none;position:relative;padding:0;border-radius:8px;}
.option-input:hover{background:#fff;}
.option-input:checked{background:#fff;animation:rubberBand 1s;}
.option-input:checked::before{height:16px;width:16px;position:absolute;content:'\f00c';font-family:fontawesome;display:inline-block;font-size:12.66667px;text-align:center;line-height:16px;}
.option-input:checked::after{-webkit-animation:click-wave 0.65s;-moz-animation:click-wave 0.65s;animation:click-wave 0.65s;background:#2e87e7;content:'';display:block;position:relative;z-index:100;}
.option-input.radio{border-radius:50%;}
.option-input.radio::after{border-radius:50%;}
.is-dark .option-input{background:#1c2733;border:1px solid #3e4751;color:#fff;}
.is-dark .option-input:hover{background:#1c2733;}
.is-dark .option-input:checked{background:#1c2733;}
.is-dark .option-input:checked::after{background:#1c2733;}
