.FoC{width:calc(100% - 10px);margin:18px auto;padding:12px;background-color:#fff;border-radius:4px;border:none}
.FoE,.FoF,.FoN,.FoS,.FoT,.FoTa,.FoU{padding:10px;margin:5px 0 15px;box-sizing:border-box;width:100%}
.FoL{font-weight:700;font-size:.8em}
.FoE,.FoF,.FoN,.FoS,.FoT,.FoU{resize:none;background-color:#fafafa;border:1px solid #f0f0f0;border-radius:4px}
.FoTa{height:150px;resize:vertical;max-height:300px;border-radius:4px;border:1px solid #f0f0f0}
.FoSm{background-color:#3367d6;color:#fff;padding:10px 20px;margin:8px 0;border:none;border-radius:4px;cursor:pointer;width:100%}
.FoSm:hover{background-color:#45a049}
.is-dark .FoC{background:#2b3136;color:#fffdfc}
.is-dark .FoE,.is-dark .FoF,.is-dark .FoN,.is-dark .FoS,.is-dark .FoT,.is-dark .FoTa,.is-dark .FoU{background:#393e42;border:1px solid #363b40;color:#fffdfc}
@media screen and (max-width:600px){.FoC{margin:8px}}
